*.pyc
gromacs_structures
pdb2pqr_structures
rosetta_pdbs
molmimic/data/ibisdown/
molmimic/data/ibisdown_data/
molmimic/data/ibis_full.tsv
molmimic/data/ibis_ppi_pli.tsv
molmimic/data/ibis_luca.tab
molmimic/data/ibis_luca_skip.tab*
features/
features2/
