include Prop3D/common/features.yaml
include Prop3D/custom_featurizers/custom_features.yaml
include Prop3D/parsers/CNS-Templates/*.inp
include Prop3D/generate_data/*.csv
include Prop3D/prodigy/data/naccess.config
include Prop3D/ml/examples/*.ipynb
